<!-- forEach-iteration to display all articles, maybe limit the shown items
 -->
<article>
    <% shopItems.forEach(elt=>{ %>
        <a href="<%- elt.LinkShop  %>" target="__blank">
            <img src=" <%- elt.ProductLink %> " alt="<%- elt.Company %> ">
        </a>
        <div>
            <p>
                <%- elt.ProductName %>
            </p>
            <p>$<%- elt.Price %>
            </p>
        </div>
        <span>
            <%- elt.Company %>
        </span>
        <%}) %>
</article>