<!-- forEach-iteration to display all articles, maybe limit the shown items
 -->
 <section class="salesItems">
    <% shopItems.forEach(elt=>{ %>
        <a href="<%- elt.ProductLink  %>" target="__blank">
            <img src=" <%- elt.ProductLink %> " alt="<%- elt.Company %> ">

            <article>
                <div>
                    <h3>
                        <%- elt.ProductName %>
                    </h3>
                    <h3>$<%- elt.Price %>
                    </h3>
                </div>
                <h3>
                    <%- elt.Company %>
                </h3>
            </article>
        </a>
        <%}) %>
</section>